
/* basic elements */
html {
    margin: 0;
    padding: 0;
    }
body { 
    font: 14px Arial, sans-serif;
    line-height: 1.3;
    color: black;
    margin: 0; 
    padding: 0;
    }
p { 
    margin-top: 0; 
    text-align: justify;
    }
h1 {
    font: italic normal 2.0em Georgia, serif;
    letter-spacing: 1px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: black;
}

h2,h3 { 
    font: italic normal 1.4em Georgia, serif;
    letter-spacing: 1px; 
    margin-top: 1em;
    margin-bottom: 1em; 
    color: black;
    }
a:link, a:visited, a:hover, a:active {
    font-weight: bold; 
    text-decoration: underline;
    color: black;
    }
acronym {
    border-bottom: none;
    }

pre {
    font: 14px Consolas, Droid Sans Mono, monospace;
    border-right: 2px solid black;
    padding: 15px 0 15px 15px;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: none;
}

#contact-front iframe {
    margin: 0;
}

#content { 
    width: 100%;
    margin: 0 auto; 
    position: relative;
    }

#toc ul {
    padding-left: 0;
    margin-left: 0;
}

#toc li {
    display: inline;
    list-style-type: none;
}

#toc li:after {
    content: "/";
}

#toc li:last-child:after {
    content: "";
}

ul.index-links {
    padding-left: 0;
    margin-left: 0;
}

ul.index-links li {
    list-style-type: none;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.due {
    font-size: 80%;
    margin: 0 1em 0 1em;
}

#logo {
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 1px;
}

#contact-front p {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0;
}

th, td {
    padding: 10px 14px;
    text-align: left;
    vertical-align: middle;
}

th, thead {
    background-color: white;
    border: 1px solid black;
    font-weight: normal;
}

tr {
    border-bottom: 1px solid black;
}

