/* 
	CSS file especially arranged for Pygments. 
	http://themes.sweyla.com/css/Sweyla375941.css
*/

code {
	background: #FDFFFF;
	color: #000000;
}

code span.selection { color: #C8C8C8; }
code span.vi { color: #00014A; }
code span.kn { color: #004DD0; }
code span.cp { color: #0B4A4D; }
code span.caret { color: #000000; }
code span.no { color: #0B4A4D; }
code span.s2 { color: #670088; }
code span.nb { color: #006460; }
code span.nc { color: #00008F; }
code span.nd { color: #0B4A4D; }
code span.s { color: #670088; }
code span.nf { color: #0B4A4D; }
code span.nx { color: #0B4A4D; }
code span.kp { color: #004DD0; }
code span.nt { color: #00008F; }
code span.s1 { color: #670088; }
code span.bg { color: #FDFFFF; }
code span.kt { color: #004DD0; }
code span.support_function { color: #043941; }
code span.ow { color: #540DB8; }
code span.mf { color: #0000F1; }
code span.bp { color: #00014A; }
code span.fg { color: #000000; }
code span.c1 { color: #00005D; }
code span.kc { color: #00014A; }
code span.c { color: #00005D; }
code span.sx { color: #670088; }
code span.kd { color: #004DD0; }
code span.ss { color: #0000F1; }
code span.mo { color: #0000F1; }
code span.mi { color: #0000F1; }
code span.mh { color: #0000F1; }
code span.o { color: #540DB8; }
code span.si { color: #0000B9; }
code span.sh { color: #670088; }
code span.na { color: #0B4A4D; }
code span.sc { color: #670088; }
code span.k { color: #004DD0; }
code span.se { color: #0000B9; }
code span.sd { color: #0087E4; }

